<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Savunma Sanayii Etkinliği 2021</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    Savunma Sanayii Etkinliği 2021, çeşitli sektörler arasında başlangıç kültürünü ve ağ kurmayı keşfetmek için teknoloji ve girişimcilik üzerine günlük bir konferanstır. 
                    Geniş bir geçmişe sahip çok çeşitli öğrencilerle ilgileniyoruz. 
                    Daha fazla ayrıntı için lütfen web sitemize bakın. Bu konferansın bir parçası olmak için bizimle iletişime geçin.
                
                
                </p>

            </div>
        </div>
    </div>
</section>
