<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sivas Açık Hava Konserleri</h2>
                <hr class="light">
                <p class="text-faded">
                    
                    Yıllardır süregelen kalitemiz ile ve anlaşmalı sponsorlarımız ile sizlere hizmet etmekten onur duyuyoruz!
                    Her kesimden insanlara hitap eden bu 2 hafta sürecek olan konser etkinliği için yerinizi ayırtmanın tam zamanı!
                    Sınırlı sayıda üretilmiş elmas biletleri kaçırmamak için acele edin!
                
                
                </p>

            </div>
        </div>
    </div>
</section>
