<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rezervasyon İçin İletişime Geç!</h2>
                <hr class="primary">
                <p>Bütün koltuklar kapılmadan yerini rezerve et!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.biletix.com/anasayfa/TURKIYE/tr">
                <img src="img/logo.jpg"></img>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/biletix/?hl=tr">
                <img src="img/insta.png"></img>
            </a>
        </div>

    </div>
</section>
