<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sanatçılar</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.instagram.com/ozbimusic/?hl=tr" target="_blank">
                    <img src="img/sanatcilar/ozbi.jpg" class="img-responsive" alt="">
                    <h3>OZBİ</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.instagram.com/cemadrian/?hl=tr" target="_blank">
                    <img src="img/sanatcilar/cemadrian.jpg" class="img-responsive" alt="">
                    <h3>Cem Adrian</h3>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.instagram.com/mabelmatiz/?hl=tr" target="_blank">
                    <img src="img/sanatcilar/mabelmatiz.jpg" class="img-responsive" alt="">
                    <h3>Mabel Matiz</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://www.instagram.com/alitufankirac/?hl=tr" target="_blank">
                    <img src="img/sanatcilar/oguzaksac.jpg" class="img-responsive" alt="">
                    <h3>Kıraç</h3>
                </div>
            </div>
        </div>
    </div>
</section>
